.banner{
    display: grid;
    background-color:#d8d8d8;
    grid-template-columns: repeat(2,minmax(450px, 1fr));
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    padding-top: 25px;
    min-height: 900px;
}
.banner-element{
    min-height:200px;

    img{
        min-height:200px;
    }
}
/*keyframe animations*/
.submit{
  padding-top: 25px;
  background:#c7c7c7
}
.button-group{
    padding:5px 0px;
}