
figure img{
    height: auto;
    max-width: 100%;
}

.caption{
    color: #220e10;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    margin: 0 0 24px;
}
.modal{
    z-index: 3;
    display: block;
    padding: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    .caption{
        padding-top: 20px;
    }
    .image-wrapper{
        grid-row-start:1;
    }
}
.inactive{
    display: none;
}
.active .modal-image{
    height: 50%;
    width: 50%;
    left: 25%;
    top: 25%;
    position: fixed;
}
.active .modal-content{
    display: grid;
    grid-template-columns: 1fr 40px;
    background: #f7f7f7;
    border-radius:5px;
    height: 100%;
}

.modal-exit{
    grid-column-start: 2;
    display:grid;

    span{
        margin-top:10px;
    }
}
